<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Medium's Featured Articles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/saved">My Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scrape">Find New Articles!</a>
            </li>
        </ul>
        <span class="navbar-text">
            You're an awesome person, don't forget that.
        </span>
    </div>
</nav>

<div class="container">
    {{#if articles}}
    {{#each articles}}
    <div class="card bg-dark text-light mt-3">
        <div class="card-body">
            <span class="card-title">
                <a href="{{this.link}}" target="_blank">{{this.title}}</a>
            </span>
            <p class="card-text">{{this.summary}}</p>
        </div>
        <div class="card-link text-center">
            {{#if this.saved}}
            <a href="#" class="btn btn-lg btn-secondary disabled ">Article saved</a>
            {{else}}
            <form method="POST" action="/save/index/{{this._id}}">
                <input type="hidden" name="saved" value="true">
                <button type="submit" class="btn btn-lg btn-secondary mx-auto">Save article</button>
            </form>
            {{/if}}
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>