<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Medium's Featured Articles</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="/saved">My Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/scrape">Find New Articles!</a>
      </li>
    </ul>
    <span class="navbar-text">
      You're an awesome person, don't forget that.
    </span>
  </div>
</nav>

<div class="container">
  {{#if articles}}
  {{#each articles}}
  <div class="card bg-dark text-light mt-3 py-3">
    <div class="card-body">
      <span class="card-title">
        <a href="{{this.link}}" target="_blank">{{this.title}}</a>
      </span>
      <p>{{this.summary}}</p>
    </div>
    <div class="card-link text-center row">
      <div class="col-sm my-1">
        {{!-- <button type="submit" class="btn btn-lg btn-secondary mx-auto">Comments</button> --}}
        <p>
          <button class="btn btn-lg btn-secondary mx-auto" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Comments
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body mx-2">
            <p class="card-text">{{this.comment}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm my-1">
        <form method="POST" action="/save/index/{{this._id}}">
          <input type="hidden" name="saved" value="false">
          <button type="submit" class="btn btn-lg btn-secondary mx-auto">Unsave article</button>
        </form>
      </div>
    </div>

  </div>
  {{/each}}
  {{else}}
  <div class="card bg-dark text-light mt-3">
    <h2 class="text-center">Nothing to see here!</h2>
  </div>
  {{/if}}
</div>

<script>



</script>